body{
  background-color: black;
}

.btn{
  background-color:rgb(255, 252, 252);
}

.form-control{
  width: 400px;
}

.form-label{
  color: white;
}

.card{
  margin-top: 10px;
  width: 400px;
  display: flex;
  height: 80%;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: blue;
}

.btndelete{
  border-radius: 1px;
  background-color:crimson
}

.card-footer{
  background-color:aquamarine;
  border-radius: 1px;
}
